@charset "UTF-8";


/* ALL IE Versions */
.ie {
  .section-container.tabs {
    > section {
      .content-tabs {
        &.border-favorite {
          border-top: 1px solid #ff5353 !important;
        }
        &.border-new {
          border-top: 1px solid #26a6bc !important;
        }
      }
    }
  }
}


/* < IE 9 */
.lt-ie9 {
  /* Grid ------------------  */
  .row { width: 1000px; max-width: 100%; min-width: 768px; margin: 0 auto; }
  .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
  .row.large-collapse .column,
  .row.large-collapse .columns { padding: 0; }
  .row .row.large-collapse { margin: 0; }

  .column, .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
  .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }

  [class*="column"] + [class*="column"]:last-child { float: right; }
  [class*="column"] + [class*="column"].end { float: left; }

  .large-1,
  .row .large-1 { width: 8.33333%; }

  .large-2,
  .row .large-2 { width: 16.66667%; }

  .large-3,
  .row .large-3 { width: 25%; }

  .large-4,
  .row .large-4 { width: 33.33333%; }

  .large-5,
  .row .large-5 { width: 41.66667%; }

  .large-6,
  .row .large-6 { width: 50%; }

  .large-7,
  .row .large-7 { width: 58.33333%; }

  .large-8,
  .row .large-8 { width: 66.66667%; }

  .large-9,
  .row .large-9 { width: 75%; }

  .large-10,
  .row .large-10 { width: 83.33333%; }

  .large-11,
  .row .large-11 { width: 91.66667%; }

  .large-12,
  .row .large-12 { width: 100%; }

  /* Nicolas Gallagher's micro clearfix */
  .row { *zoom: 1; }
  .row:before, .row:after { content: " "; display: table; }
  .row:after { clear: both; }

  [class*="block-grid-"] {
    display: block;
    padding: 0;
    margin: 0 -0.625em;
    *zoom: 1;
  }
  [class*="block-grid-"]:before, [class*="block-grid-"]:after {
    content: " ";
    display: table;
  }
  [class*="block-grid-"]:after {
    clear: both;
  }
  [class*="block-grid-"] > li {
    display: inline;
    height: auto;
    float: left;
    padding: 0 0.625em 1.25em;
  }

  .small-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625em 1.25em;
  }
  .small-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  .small-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625em 1.25em;
  }
  .small-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  .small-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625em 1.25em;
  }
  .small-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  .small-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625em 1.25em;
  }
  .small-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  .small-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625em 1.25em;
  }
  .small-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  .small-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625em 1.25em;
  }
  .small-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  .small-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625em 1.25em;
  }
  .small-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  .small-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625em 1.25em;
  }
  .small-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  .small-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625em 1.25em;
  }
  .small-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  .small-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625em 1.25em;
  }
  .small-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  .small-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625em 1.25em;
  }
  .small-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  .small-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625em 1.25em;
  }
  .small-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }
  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }





  /* Remove small grid clearing */
  .small-block-grid-1 > li:nth-of-type(1n+1) {
    clear: none;
  }

  .small-block-grid-2 > li:nth-of-type(2n+1) {
    clear: none;
  }

  .small-block-grid-3 > li:nth-of-type(3n+1) {
    clear: none;
  }

  .small-block-grid-4 > li:nth-of-type(4n+1) {
    clear: none;
  }

  .small-block-grid-5 > li:nth-of-type(5n+1) {
    clear: none;
  }

  .small-block-grid-6 > li:nth-of-type(6n+1) {
    clear: none;
  }

  .small-block-grid-7 > li:nth-of-type(7n+1) {
    clear: none;
  }

  .small-block-grid-8 > li:nth-of-type(8n+1) {
    clear: none;
  }

  .small-block-grid-9 > li:nth-of-type(9n+1) {
    clear: none;
  }

  .small-block-grid-10 > li:nth-of-type(10n+1) {
    clear: none;
  }

  .small-block-grid-11 > li:nth-of-type(11n+1) {
    clear: none;
  }

  .small-block-grid-12 > li:nth-of-type(12n+1) {
    clear: none;
  }

  .large-block-grid-1 > li {
    width: 100%;
    padding: 0 0.625em 1.25em;
  }
  .large-block-grid-1 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-1 > li:nth-of-type(1n+1) {
    clear: both;
  }

  .large-block-grid-2 > li {
    width: 50%;
    padding: 0 0.625em 1.25em;
  }
  .large-block-grid-2 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-2 > li:nth-of-type(2n+1) {
    clear: both;
  }

  .large-block-grid-3 > li {
    width: 33.33333%;
    padding: 0 0.625em 1.25em;
  }
  .large-block-grid-3 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-3 > li:nth-of-type(3n+1) {
    clear: both;
  }

  .large-block-grid-4 > li {
    width: 25%;
    padding: 0 0.625em 1.25em;
  }
  .large-block-grid-4 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-4 > li:nth-of-type(4n+1) {
    clear: both;
  }

  .large-block-grid-5 > li {
    width: 20%;
    padding: 0 0.625em 1.25em;
  }
  .large-block-grid-5 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-5 > li:nth-of-type(5n+1) {
    clear: both;
  }

  .large-block-grid-6 > li {
    width: 16.66667%;
    padding: 0 0.625em 1.25em;
  }
  .large-block-grid-6 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-6 > li:nth-of-type(6n+1) {
    clear: both;
  }

  .large-block-grid-7 > li {
    width: 14.28571%;
    padding: 0 0.625em 1.25em;
  }
  .large-block-grid-7 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-7 > li:nth-of-type(7n+1) {
    clear: both;
  }

  .large-block-grid-8 > li {
    width: 12.5%;
    padding: 0 0.625em 1.25em;
  }
  .large-block-grid-8 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-8 > li:nth-of-type(8n+1) {
    clear: both;
  }

  .large-block-grid-9 > li {
    width: 11.11111%;
    padding: 0 0.625em 1.25em;
  }
  .large-block-grid-9 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-9 > li:nth-of-type(9n+1) {
    clear: both;
  }

  .large-block-grid-10 > li {
    width: 10%;
    padding: 0 0.625em 1.25em;
  }
  .large-block-grid-10 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-10 > li:nth-of-type(10n+1) {
    clear: both;
  }

  .large-block-grid-11 > li {
    width: 9.09091%;
    padding: 0 0.625em 1.25em;
  }
  .large-block-grid-11 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-11 > li:nth-of-type(11n+1) {
    clear: both;
  }

  .large-block-grid-12 > li {
    width: 8.33333%;
    padding: 0 0.625em 1.25em;
  }
  .large-block-grid-12 > li:nth-of-type(n) {
    clear: none;
  }
  .large-block-grid-12 > li:nth-of-type(12n+1) {
    clear: both;
  }

  .section-container.tabs {
    > section {
      padding: 0 !important;
      &.active {
        padding-top: 50px !important;
      }
      .content-tabs {
        margin-top: -3px;
      }
    }
  }

  .hide-for-small { display: block !important; }

  /* Residence pictures ------------------  */

  .search-results .info-residence .gallery-thumbnails img {
    width: 78px;
  }

  /* Calendar icon form record ------------------  */

  .record-form form.custom fieldset#desired-date .date-picker-wrapper span.date-picker-icon, .account form.custom fieldset#desired-date .date-picker-wrapper span.date-picker-icon {
    right: 15px;
  }

  /* Nav login header ------------------  */

  .notification-account-user {
    .notification-folder,
    .notification-favorite { background: url('../images/IE8/notifications-circle.png') no-repeat 0 0; }

    .alert-account {
      .notification-alert {
        background: url('../images/IE8/notifications-circle.png') no-repeat -14px 0;
      }
    }
  }

  /* Step train form record ------------------  */

  .record-form {
    .step-train-form  {

      .disabled, .active {
        .num-step {
          margin: 0;
          height: 26px;
          border: none;
        }
      }
      .disabled {
        .num-step { background: url('../images/IE8/step-train-circle.png') no-repeat 0 0; }
      }
      .active {
        .num-step { background: url('../images/IE8/step-train-circle.png') no-repeat -25px 0; }
      }
    }
  }

  /* Ribbon promo results residences ------------------  */

  .results-residences {
    .ribbon-special-offers,
    .ribbon-new {
      left: -9px;
    }
  }
  .info-residence {
    .ribbon-special-offers,
    .ribbon-new {
      left: -14px;
    }
  }

  /* Search summary ------------------  */

  .summary-housing {
    .panel-summary, .summary-image {
      background: $white;
      filter : alpha(opacity=20);
    }
  }

  /* Modal background ------------------  */

  .reveal-modal-bg { filter : alpha(opacity=50); }

  // Type
  $h1-font-size: 20px;
  $h2-font-size: 18px;
  $h3-font-size: 16px;
  $h4-font-size: 15px;
  $h5-font-size: 14px;
  $h6-font-size: 12px;

  h1 { font-size: $h1-font-size; }
  h2 { font-size: $h2-font-size; }
  h3 { font-size: $h3-font-size; }
  h4 { font-size: $h4-font-size; }
  h5 { font-size: $h5-font-size; }
  h6 { font-size: $h6-font-size; }

  .search-form h1,
  header h1 {
    font-size: 18px;
  }

}


.lt-ie9,
.ie9 {
  .preloader {
    border: 0;
    background: url('../images/ajax-loader.gif') no-repeat center center;
  }
}


