@charset "UTF-8";

/*  ----------------------------------------------
:: Landing
-------------------------------------------------- */

.landing header#header {
    margin-bottom: 20px;
}

.landing h1.thanks {
	font-size: xx-large;
}

.landing h3 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.landing .panel {
    padding-bottom: 55px;
}
