@media screen and (max-width: 1024px) {
    header h1 {
        margin-top: 20px;
    }
    .search-form {
        > .row {
            display: block;
            > .columns {
                float: left;
                &.map-wrapper, &.phone-help-wrapper {
                    margin-top: 15px;
                }
            }
        }
    }

    .record-form .step-train-form .disabled,
    .record-form .step-train-form .active,
    .record-form .step-train-room-mate .disabled,
    .record-form .step-train-room-mate .active,
    .account .step-train-form .disabled,
    .account .step-train-form .active,
    .account .step-train-room-mate .disabled,
    .account .step-train-room-mate .active {
        width: 180px;
        padding: 10px 25px;
    }

    .record-form form.custom .checkbox label {
        white-space: pre-wrap;
    }
}


@media only screen and (min-width : 320px) and (max-width : 760px) {

    h1 { font-size: $medium-spacing; }
    h2 { font-size: 1.25em; }
    h3 { font-size: $default-spacing; }
    h4 { font-size: $default-spacing; }
    h5 { font-size: $default-spacing; }
    h6 { font-size: $default-spacing; }

    .search-form {
        #adele_simple_search_date-group,
        #school_search_date-group {
            float: none;
            width: 100%;
        }

        button {
            width: 100%;
        }
    }

    .search-results .info-residence {
        .gallery-slideshow {
            width: 100%;

            img {
                width: 100%;
                height: auto;
                margin: 0 auto;
            }
        }
    }
    .search-results {
        .map-preview {
            margin: 0 0 20px 0;
            border: solid 1px $white;
        }
    }

    .grid-setting {
        .btn-list,
        .btn-map {
            font-size: 0.688em;
            margin: 0;
        }
    }

    .section-container {
        .mg-right {
            margin: 0 2px 0 0;
        }
    }

    .summary-housing .summary-image {
        margin-bottom: 10px;
    }

    .record-form,
    .account {
        .step-train-form {
            .disabled,
            .active {
                width: 94%;
                margin-bottom: 10px;
            }
        }
        .step-train-room-mate {
            .disabled,
            .active {
                width: 140px;
            }
        }
        .summary .long-label label {
            line-height: 18px !important;
        }
        .table-availabilities .list-availabilities {
            padding: 0;
            margin-bottom: 10px;
        }
        .info-table {
            display: none;
        }
    }

    .notification-account-user {
        margin: 20px 20px 0 0;
    }

    .record-form form.custom .checkbox label {
        white-space: pre-wrap;
    }
    .record-form form.custom {
        .services-plus-block {
            label { white-space: pre-line; }
        }
    }

    .record-form form.custom {
        .btn-add-tenant { margin: 20px 0 0 0; }
        .btn-remove-guarantor { margin: 0 0 15px 0; }

        .calculate {
            padding: 0;
            p { padding: 0; }
        }
    }
}

// Table residence ------------------

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    .tabs {
        &.panel {
            margin-top: auto;
        }

        &-menu {
            display: none;
        }

        .tab {
            display: block;
            position: relative !important;
            transform: scaleY(1);
            opacity: 1 !important;
            border-bottom: 1px solid #aaa;
            z-index: 1 !important;
            padding-bottom: 1em;
            margin-top: 1em;

            &:last-of-type {
                padding-bottom: 0;
                border-bottom: 0;
            }

            .panel {
                margin-bottom: 0;
            }

            &.active {
                display: block;
                width: 100%;
                transform: scaleY(1);
            }
        }
    }

    table#residence-availability {
        .not-small {
            display: none;
        }
        .charges--fixed {
            width: auto !important;
        }
        tbody {
            tr {
                text-align: left;
            }
        }
    }

    .search-results .table-availabilities,
    .record-form .results-residences .table-availabilities  {
        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr, .small-only {
            display: block;
        }

        tr.hide {
            display: none;
        }

        table thead { height: 0px; }

        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
            height: 0px;
        }

        table tbody tr { text-align: left; }

        table tbody .detail-row .detail-accommodation,
        table tbody .detail-row td {
            padding-left: 0;

            > .columns {
                float: none;
                strong { margin: 0 0 0 8px; }
            }

            ul {
                margin: 8px 0;
                li { padding-bottom: 0.25em; }
            }
            h4 { margin-top: 5px; }
            p { margin-top: 20px; }
        }

        table tbody .name-accommodation {
            background: #26a6bc;
            th { color: $white; }
        }
        #residence-availability .default-row .accommodation {
            background: #FFFFFF;
        }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #ffd83b;
            border-right: 1px solid #ffd83b;
            border-left: 1px solid #ffd83b;
            position: relative;
            float: none;

            .inline-title {
                display: inline-block !important;
            }
        }
    }

    .record-form .results-residences .table-availabilities {
        .default-row {
            font-size: 14px;
        }
        td { padding-left: 60%; }
    }
}
