.content {
    margin: 0 auto;
    max-width: 62.5rem;
    padding: $spacing-half;
    line-height: 1.6;

    h1 {
        color: $color-main;
        font-size: 1.8em;
        margin-bottom: $spacing-half;
    }

    h2 {
        color: $color-main;
        font-size: 1.4em;
        margin-bottom: $spacing-half;
        margin-top: $spacing-normal;
        text-transform: uppercase;
    }

    .panel {
        background: $white;
        border-radius: $spacing-quarter;
        box-shadow: 0 0 $spacing-quarter $gray-light;
        margin: $spacing-half 0;
        padding: $spacing-half;
    }

    .aside {
        float: right;
        font-size: .75em;
        max-width: 25%;
        margin-left: $spacing-normal;
        position: relative;
        border: 2px solid $color-main;
        padding: $spacing-half;
        line-height: 1.4;

        legend {
            color: $color-main;
            font-size: .8125rem;
        }

        p {
            margin: 0;
        }

        > ul {
            list-style: none;

            > li {
                position: relative;

                &::before {
                    background-color: $black;
                    content: ' ';
                    height: 6px;
                    left: -.8em;
                    position: absolute;
                    top: .6em;
                    width: 6px;
                    border-radius: 50%;
                }
            }
        }

        &--advice {
            border: 0;
            background: $color-main-as-background;
            color: $white;
            padding-top: #{0.75em * 3};
            position: relative;

            legend {
                color: $color-secondary-alt;
                position: absolute;
                top: $spacing-half;
                font-weight: bold;
            }

            ul {
                padding-left: $spacing-normal;

                li {
                    &::before {
                        background-color: $white;
                        top: .5em;
                    }
                }
            }
        }

        &--transportation {
            border-width: 1px;
            clear: both;
            float: none;
            margin: $spacing-normal 0 0 0;
            max-width: 100%;
            font-size: 1rem;
            line-height: 1.6;

            h2 {
                margin: 0;
                text-decoration: underline;
                text-transform: none;
            }

            li {
                margin: $spacing-half 0;

                &.apps {
                    margin-top: $spacing-normal;
                }
            }
        }

        &--tips {
            border: 0;
            clear: both;
            float: none;
            margin: $spacing-normal 0 0 0;
            max-width: 100%;
            font-size: 1rem;
            line-height: 1.6;

            h2 {
                margin: 0;
                text-decoration: underline;
                text-transform: none;
            }
        }
    }

    .chapo,
    .bold {
        font-weight: bold;

        &--aside {
            font-size: .8125em;
            font-weight: normal;
        }
    }

    > ul {
        list-style: none;
        padding: 0;

        > li {
            position: relative;

            &::before {
                background-color: $color-main;
                content: ' ';
                height: 8px;
                left: -1em;
                position: absolute;
                top: .9em;
                width: 8px;
            }
        }

        ul {
            list-style: none;

            > li {
                position: relative;
                margin-bottom: $spacing-half;

                &::before {
                    background-color: $black;
                    content: ' ';
                    height: 6px;
                    left: -.8em;
                    position: absolute;
                    top: .6em;
                    width: 6px;
                    border-radius: 50%;
                }
            }
        }
    }

    a {
        color: $color-main;

        &:hover,
        &:focus,
        &:active {
            text-decoration: none;
        }
    }

    .table {
        border: 1px solid $black;
        border-collapse: collapse;

        thead {
            tr {
                td,
                th {
                    background: $color-main-as-background;
                    color: $white;
                    text-align: center;
                }
            }
        }

        td {
            border: 1px solid $black;
            padding: $spacing-quarter $spacing-half;
            text-align: left;

            &:last-child {
                text-align: right;
            }
        }
    }

    .orange {
        color: $orange;

        .bold,
        .chapo {
            color: $color-text;
        }

        &::before {
            color: $orange !important;
            background-color: $orange !important;
        }
    }

    .green {
        color: $green;
    }

    .red {
        color: $red;
    }

    .small {
        font-size: .8em;
    }
}
