.header {
    &__main {
        background: $white;
        border-bottom: 1px solid $color-secondary;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: relative;
    }

    &__navigation {
        margin: 0 auto;
        max-width: 62.5rem;
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 40vw;
        max-width: 300px;
        text-align: center;
        margin-left: $spacing-normal;
        display: flex;
        flex-direction: column;
        justify-content: center;

        img {
            width: 100%;
            height: auto;
            max-width: 300px;
        }
    }

    &__title {
        color: $color-main;
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        font-size: 2.5vw;
        justify-content: center;
        padding: 0 5vw;
    }

    &__adele {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 300px;
        padding-right: 1rem;
        width: 20vw;

        img {
            height: auto;
            max-height: 200px;
            max-width: 175px;
            width: 100%;
        }
    }
}
