.service {
    ul.chapo {
        padding: 0;
        margin: 0;
        width: 100%;

        li {
            display: inline-block;

            &:nth-of-type(odd) {
                width: 29%;
            }

            &:nth-of-type(even) {
                width: 70%;
            }
        }
    }

    .check-list {
        padding-left: 2.5em;

        li {
            position: relative;

            &::before {
                background-color: transparent;
                border-radius: initial;
                border: 2px solid $black;
                content: ' ';
                height: .75em;
                left: -1.5em;
                position: absolute;
                top: .25em;
                width: .75em;
            }
        }

        &--inline {
            display: inline-block;
            padding-left: 0;
            margin: 0;

            li {
                display: inline-block;
                margin-left: 2.5em;
            }
        }
    }

    &__column {
        width: 50%;

        &:last-of-type {
            padding-right: $spacing-half;
        }

        &--plus {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            order: 0;

            h3 {
                font-weight: normal;
                font-size: 1.4em;
                padding: 5em 15% 0;
            }
        }

        &--minus {
            order: 1;
        }
    }

    &__columns {
        display: flex;
        margin-top: $spacing-double;
    }

    &__table {
        border: 0 !important;
        font-size: .8em;
        width: 100%;

        .green,
        .red {
            font-weight: bold;
            font-size: 1rem;
        }

        tr {
            td {
                &:last-of-type {
                    min-width: 30%;
                    text-align: left !important;
                }
            }

            th,
            td {
                border: 1px solid $black;
            }
        }

        tbody {
            th {
                color: $black !important;
                text-align: left !important;
                padding-top: $spacing-half;

                &:first-child {
                    border: 0 !important;
                }
            }
        }

        thead {
            th {
                background-color: transparent !important;
                border: 0;
                color: #000 !important;
                font-size: 1.2em;
                text-align: left !important;
                margin-top: $spacing-double;
            }
        }

        &--total {
            border: 0 !important;

            tr {
                border: 0 !important;
            }

            td {
                border: 0 !important;
            }
        }
    }

    &__total {
        &--plus {
            background-color: $green-background;
            font-size: 1rem;
        }

        &--minus {
            background-color: $red-background;
            font-size: 1rem;
        }

        &--total {
            background-color: $blue-background;
            font-size: 1rem;
        }
    }

    &--checklist {
        h3 {
            font-size: 1.2em;
            border-bottom: 1px solid #000;
            margin: $spacing-half 0;
        }
    }

    &--visit {
        ul {
            list-style: none;
            padding: 0;
            margin: $spacing-quarter 0;
        }

        li {
            margin: $spacing-normal 0;
            line-height: 1;

            &.has-sub {
                margin: 0;
            }

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        fieldset {
            legend {
                padding: 0;
                font-size: 1.1em;
                font-weight: bold;
            }

            fieldset {
                border: 0;
                padding: 0;

                ul {
                    padding-left: 1em;

                    li {
                        &:first-child {
                            margin-top: $spacing-normal;
                        }
                    }
                }
            }

            .check-list {
                li {
                    margin-top: $spacing-quarter;
                    margin-bottom: $spacing-quarter;

                    &::before {
                        top: 0;
                    }
                }
            }
        }
    }

    .blank {
        &::after {
            content: '.....';
        }

        &--large {
            &::after {
                content: '..........';
            }
        }

        &--giant {
            &::after {
                content: '........................................';
            }
        }

        &--multiline {
            &::after {
                content: '....................................................................................................................................................................';
                word-wrap: break-word;
                line-height: 2.5;
            }
        }
    }

    .mimic-table {
        display: flex;
        justify-content: space-between;

        .label {
            width: 30%;
        }

        .value {
            width: 70%;
        }
    }
}
