.user-event {
    &__list {
        border: 1px solid #000;
        margin: 0.5em;
        padding: 1em;

        &__element {
            cursor: pointer;
            margin: 0.1em 0.5em;
            padding: 0.1em 0.5em;

            &:hover,
            &:focus,
            &:active {
                background-color: #F9F9F9;;
            }

            &--displayed {
                background-color: #5BC0DE;
                color: #FFF;

                &:hover,
                &:focus,
                &:active {
                    background-color: #5BC0DE;
                }
            }
        }
    }

    &__show {
        border: 1px solid #000;
        margin: 0.5em;
        padding: 1em;

        hr {
            margin: 0.5em 0;
        }

        .title {
            color: #808080;
            font-weight: bold;
        }

        .messages {
            overflow: auto;
            max-height: 350px;
        }

        .comment-date {
            color: #808080;
            font-style: italic;
        }

        .nextActionDate {
            font-weight: bold;
        }

        .final-situation {
            span {
                font-weight: bold;
            }
        }

        .btn-close {
            color: #FFF;
            background-color: #BB7FB5;
            border-color: #90628B;
        }
    }

    &-type {
        border: 1px solid #808080;
        color: #FFF;
        display: inline-block;
        font-weight: bold;
        text-align: center;
        width: 15px;

        &__information {
            background-color: #EEA236;
        }

        &__ticket {
            &--pending {
                background-color: #70AD47;
            }

            &--closed {
                background-color: #BB7FB5;
            }
        }

    }
}
