$menu-max-height: 4rem !default;
$menu-triangle-size: .5em !default;
$menu-transparency: .9 !default;

.menu {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: .9em;
  height: 100%;
  justify-content: space-between;
  line-height: #{$menu-max-height / 2};
  max-width: 100%;

  &__wrapper {
    background-color: rgba($color-background, $menu-transparency);
    border-radius: $global-border-radius;
    color: $white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex: 1 0 100%;
    height: 100%;
    justify-content: space-between;
    left: $big-spacing;
    max-height: 85%;
    max-width: 33%;
    min-width: 27rem;
    padding: $default-spacing;
    position: absolute;
    top: 7.5%;
    z-index: 1;
  }

  &__element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__informations {
    fill: $white;
    height: 2.5rem;
    padding-top: 1rem;
    transition: fill .3s;
  }

  &__field,
  &__label {
    padding: 0 $default-spacing;
  }

  &__label {
    flex-grow: 2;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--center {
      @include hide-visually;
    }
  }

  &__value {
    @include menu-more();
    align-items: center;
    background-color: $white;
    color: $black;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    max-width: 20em;
    min-width: 10rem;
    overflow: hidden;
    padding: 0 $small-spacing;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__field {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .form-control {
      border: 0;
      border-radius: $global-border-radius;
      height: 100%;
      padding: .5em 1em;
      width: 100%;
    }
  }

  &__legend {
    background: rgba($white, $menu-transparency);
    border-radius: $global-border-radius;
    bottom: 0;
    color: $grey-darker;
    font-size: .75rem;
    line-height: 1.25;
    position: absolute;
    right: -14rem;

    &-element {
      display: flex;
      justify-content: space-between;
      width: 13rem;
      flex: 0 0 13rem;
      padding: $small-spacing;
      text-align: left;
    }

    &-image {
      height: 30px;
      margin-right: $small-spacing;
      width: auto;
    }
  }

  &__submit {
    &--small {
      margin: $default-spacing $small-spacing $big-spacing;
    }
  }
}

@media screen and (max-width: $breakpoint-large) {
  .menu {
    &__wrapper {
      height: auto;
      flex-basis: auto;
      left: unset;
      max-height: unset;
      max-width: unset;
      min-width: unset;
      position: static;
      top: unset;
      margin: $default-spacing $small-spacing $big-spacing;
      width: calc(100% - #{$small-spacing * 2});
    }

    &__legend {
      bottom: unset;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 1em;
      position: static;
      right: unset;
    }
  }
}
