////
/// @author Drakona <contact@drakona.fr>
/// @group core/abstracts
///
/// @since 25/04/2019
////

///
/// White label styles, with given colors
///
@mixin whitelabel-theme(
  $main-color,
  $dark-gray,
  $light-gray,
  $highlighted-color,
  $dark-color: $black,
  $light-color: $white,
  $white: $white,
  $is-dark-backgound: false
) {
  a {
    &:not(.button) {
      &:hover,
      &:focus,
      &:active {
        color: $main-color;
      }
    }
  }

  @if $is-dark-backgound == true {
    color: $light-gray;

    .colored-background {
      &--grey-light,
      &--grey-lighter,
      &--grey-lightest,
      &--white {
        color: $dark-gray;
      }
    }
    .table {
      &__section-title,
      &__row {
        color: $dark-gray;
      }
    }
  }

  .colored-border--yellow {
    border-color: $main-color !important;
  }

  .section__content {
    flex-basis: auto;
  }

  .header__search {
    background-color: $light-gray;
    color: $dark-gray;
  }

  .text--blue {
    color: $main-color;
  }

  .result__link {
    color: $main-color;

    &:hover,
    &:focus {
      color: $highlighted-color;
    }
  }

  .list--media-reviews {
    .list__element {
      border-color: $main-color;
    }
  }

  .button {
    background-color: $main-color;
    border-color: $main-color;
    border-radius: 0;

    &:hover,
    &:focus {
      background-color: $highlighted-color;
      border-color: $highlighted-color;
    }

    &--bordered {
      background-color: inherit;
      color: $main-color;

      &:hover,
      &:focus {
        background-color: inherit;
        color: $highlighted-color;
      }
    }

    &--view-more {
      background-color: inherit;

      .icon__content {
        fill: $main-color;
      }

      &:hover,
      &:focus {
        background-color: inherit;

        .icon__content {
          fill: $highlighted-color;
        }
      }
    }
  }

  .rating {
    &__wrapper {
      color: $main-color;
    }

    &__label {
      &:not(.rating__label--half) {
        &::before {
          text-shadow: -1px 0 $main-color, 0 1px $main-color, 1px 0 $main-color, 0 -1px $main-color;
        }
      }

      &--active {
        &::before {
          color: $main-color;
        }
      }
    }
  }

  .tabs__title-link {
    color: $main-color;
  }

  .table {
    &__column {
      &::before {
        background-color: $main-color;
      }
    }

    &__row {
      &--header {
        background-color: $light-gray;
        color: $black;
      }
    }
  }

  .select2-container .select2-choice .select2-arrow b {
    background-image: none;
  }

  .orange-title {
    color: $main-color !important;
  }

  .phone-help h2 {
    color: $dark-color;
  }

  .ui-widget-header {
    background-color: $main-color;
  }

  .ui-datepicker {
    &-prev,
    &-next {
      &:hover,
      &:focus,
      &:active {
        &::before {
          border-right-color: $dark-gray;
        }

        &::after {
          border-left-color: $dark-gray;
        }
      }
    }

    &-prev {
      &::before {
        border-right-color: $light-gray;
      }
    }

    &-next {
      &::after {
        border-left-color: $light-gray;
      }
    }

    &-month,
    &-year {
      color: $light-gray;
    }

    td {
      padding: 0 !important;
    }

    &-calendar {
      thead {

        tr {
          border-bottom-color: $light-gray;
        }
      }

      tbody {
        .ui-state-default {
          &:hover,
          &:active,
          &:focus {
            background: $main-color;
            color: $white;
          }
        }
      }
    }
  }

  .search-form {
    .summary-housing {
      .summary-housing-content {
        color: $dark-color;

        .title-accommodation-blue {
          color: $dark-gray;
        }

        .name-residence-summary{
          color: $main-color;
        }
      }
    }

    background-color: $light-gray;
  }

  .record-form {
    padding: 0;

    .section {
      &__content {
        max-width: 100%;
        padding: $tiny-spacing $small-spacing;
      }

      &__text {
        margin: 0 auto;
        max-width: $global-max-width;
        width: 100%;
      }
    }

    .checkbox {
      &__label {
        &:hover,
        &:focus,
        &:active {
          &:not(.checkbox__label--disabled) {
            .checkbox__inner-label {
              &::after {
                background-color: rgba($main-color, .5);
              }
            }
          }
        }
      }

      &:checked {
        & ~ .checkbox__inner-label {
          &::before {
            border-color: $main-color;
          }

          &::after {
            background-color: $main-color;
          }
        }
      }
    }

    .form {
      &__section {
        &-content {
          background-color: $light-gray;
          padding: 0 $default-spacing;

          .form__section-content {
            padding: 0;
          }
        }

        &-title {
          margin: 0 auto;
          max-width: $global-max-width;
          width: 100%;
        }
      }

      &__buttons {
        margin: 0 auto;
        max-width: $global-max-width;
        width: 100%;
      }
    }

    .btn-add-tenant {
      background-color: $dark-gray;

      &:hover,
      &:focus,
      &:active {
        background-color: $dark-color;
      }
    }

    .money-row {
      span {
        background-color: $main-color;
      }
    }
  }

  .header {
    &__content,
    &__utility,
    &__logo-link {
      display: none;
    }

    &__icon {
      &:hover,
      &:focus,
      &:active {
        color: $main-color;
      }
    }
  }

  .step{
    &--inline {
      .step__title {
        width: 100%;
      }
    }

    &__wrapper {
      &--current {
        background-color: $main-color;
      }
    }

    &--active {
      background-color: $main-color;
      border: 0;
    }
  }
}
