////
/// @author Drakona <contact@drakona.fr>
/// @group front/pages
///
/// @since 01/04/2019
////

///
/// Residence
///
.residence {
  &__gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &-content {
      display: flex;
      max-height: 500px;
      max-width: calc(100% - (160px + #{$small-spacing}));
      min-height: 500px;
      overflow: hidden;
      width: 100%;
    }

    &-nav {
      display: flex;
      flex: 0 0 160px;
      flex-direction: column;
      justify-content: space-between;
      max-height: 500px;
      overflow: hidden;
      position: relative;

      .icon {
        height: 100%;
      }
    }

    &-link {
      flex: 1 1 100%;
      display: none;

      &:first-of-type {
        display: inline-flex;
      }

      &--nav {
        height: 120px;
        max-height: 120px;
        max-width: 160px;
        width: 160px;

        &:nth-of-type(-n + 4) {
          display: inline-flex;
        }
      }
    }
  }

  &__title,
  &__title-text {
    align-items: center;
    display: flex;
  }

  &__title {
    &-text {
      font-size: .9em;
      max-width: calc(100% - 5rem);
      min-width: calc(100% - 5rem);
      text-align: left;
    }
  }

  .slick-initialized .slick-slide,
  .slick-track {
    max-height: 100%;
  }

  .slick-initialized .slick-slide {
    max-width: 880px;
    padding: 0;
    opacity: 1;
  }

  .slick-for--multiple {
    .slick-slider {
      .slick-current {
        left: 0 !important;
        position: absolute !important;
      }
    }
  }

  .result {
    &__option {
      top: 0;
    }
  }

  .title {
    width: 100%;

    .icon {
      &--favorite,
      &--new {
        max-height: .75em;
        margin-left: $small-spacing;
        min-height: .75em;
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .residence {
    &__gallery {
      &-content {
        max-width: 100%;
      }

      &-nav {
        display: none;
      }
    }
  }
}
