.arrow-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 30%;
  justify-content: space-between;
  line-height: 1.25em;
  padding-left: 1em;

  &__element {
    color: $black;
    flex-direction: column;
    padding-left: 4rem;
    position: relative;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
    }

    &::before {
      background: $blue;
      border-radius: .5rem;
      height: .25rem;
      width: 2rem;
      top: .75rem;
      left: 0;
    }

    &::after {
      border-bottom: .5rem solid transparent;
      border-left: 1rem solid $blue;
      border-right: 0;
      border-top: .5rem solid transparent;
      border-radius: .45rem;
      height: 0;
      left: 1.5rem;
      top: .35rem;
      width: 0;
    }

    .title {
      font-family: $global-fonts;
    }
  }

  &__sublist {
    &-element {
      margin: $tiny-spacing 0;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .arrow-list {
    padding-left: 0;

    &__element {
      max-width: 100%;
      padding-left: 3rem;
      width: 100%;

      &::before {
        font-size: $title-size-default-on-small;
        height: 2px;
        left: .5rem;
        top: 11px;
        width: 1rem;
      }

      &::after {
        border-bottom: 5px solid transparent;
        border-left: 14px solid $blue;
        border-top: 5px solid transparent;
        top: 7px;
      }
    }
  }
}

@media (max-width: $breakpoint-small) and (min-width:0\0) {
  .arrow-list {
    &--advice {
      min-height: 42.5rem;
    }

    &--pluses,
    &--premium {
      min-height: 25rem;
    }
  }
}

@media screen and (min-width:0\0) {
  .arrow-list {
    &--advice,
    &--premium {
      min-height: 15rem;
    }

    &--pluses {
      min-height: 16rem;
    }
  }
}

@media #{"\\0 screen"} and (max-width: $breakpoint-small) {
  .arrow-list {
    &--advice {
      min-height: 42.5rem;
    }

    &--pluses,
    &--premium {
      min-height: 25rem;
    }
  }
}

@media #{"\\0 screen"} {
  .arrow-list {
    &--advice,
    &--premium {
      min-height: 15rem;
    }

    &--pluses {
      min-height: 16rem;
    }
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .arrow-list {
    &--advice,
    &--premium {
      min-height: 15rem;
    }

    &--pluses {
      min-height: 16rem;
    }
  }
}}
