////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 25/04/2019
////

///
/// Breadcrumbs
///
.breadcrumbs {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  height: auto;
  padding: $default-spacing $default-spacing $small-spacing;
  width: 100%;

  &__element {
    color: $grey-dark;
    font-size: .75em;

    &:not(&--current) {
      &::after {
        content: '>';
        padding: 0 $tiny-spacing;
      }
    }
  }

  &__link {
    color: currentColor;
    transition: color .25s;

    &:hover,
    &:focus,
    &:active {
      color: $grey-darker;
    }
  }
}
