////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 06/03/2019
////

///
/// cookies-disclaimer
///
.cookies-disclaimer {
  background-color: $grey-lightest;
  border: 1px solid $color-main;
  bottom: $big-spacing;
  color: $grey-dark;
  font-size: .85em;
  left: $default-spacing;
  max-width: 30vw;
  padding: $small-spacing $big-spacing $small-spacing $default-spacing;
  position: fixed;
  z-index: 5;

  &__close {
    @include close-button;
  }
}

@media (max-width: $breakpoint-medium) {
  .cookies-disclaimer {
    max-width: 90vw;
  }
}
