.dpe,
.ges {
  background-image: url('../images/dpe.png');
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  overflow: hidden;
  text-indent: -1000px;
  width: 180px;
}

.dpe {
  &.a {
    background-position: -4px -3px;
  }

  &.b {
    background-position: -4px -25px;
  }

  &.c {
    background-position: -4px -48px;
  }

  &.d {
    background-position: -4px -70px;
  }

  &.e {
    background-position: -4px -92px;
  }

  &.f {
    background-position: -4px -114px;
  }

  &.g {
    background-position: -4px -136px;
  }
}

.ges {
  &.a {
    background-position: -194px -3px;
  }

  &.b {
    background-position: -194px -25px;
  }

  &.c {
    background-position: -194px -48px;
  }

  &.d {
    background-position: -194px -70px;
  }

  &.e {
    background-position: -194px -92px;
  }

  &.f {
    background-position: -194px -114px;
  }

  &.g {
    background-position: -194px -136px;
  }
}
