.loader,
.loader::before,
.loader::after {
  animation-fill-mode: both;
  animation: load7 1.8s infinite ease-in-out;
  border-radius: 50%;
  height: 2.5em;
  width: 2.5em;
}

.loader {
  animation-delay: -.16s;
  color: $grey-lighter;
  font-size: 10px;
  margin: 0 2rem;
  position: relative;
  text-indent: -9999em;
  top: -2rem;
  transform: translateZ(0);

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
  }

  &::before {
    left: -3.5em;
    animation-delay: -.32s;
  }

  &::after {
    left: 3.5em;
  }
}

@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
