////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 20/03/2019
////

/// @type number
$result-image-width: 335px !default;

/// @type number
$result-image-height: 250px !default;

///
/// Result
///
/// Affichage d'un résultat de recherche
///
.result {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  margin-bottom: $big-spacing;
  min-height: 5rem;
  position: relative;
  transition: box-shadow .25s;
  width: 100%;

  &:hover,
  &:focus,
  &:focus-within {
    box-shadow: 0 0 $small-spacing rgba($black, .25);

    .result {
      &__name {
        color: $blue;
      }
    }
  }

  &__name {
    font-size: $medium-spacing;
    margin-bottom: $small-spacing;
  }

  &__distance {
    margin-left: $small-spacing;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1 1;
    height: 100%;
    max-width: 100%;
    padding: $small-spacing $default-spacing;
    position: relative;
  }

  &__rating,
  &__description {
    margin: $small-spacing 0;
  }

  &__rating {
    margin-top: $default-spacing;

    .rating {
      margin-left: -1.25rem;
    }
  }

  &__image {
    height: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: auto;
  }

  &__icon {
    display: inline-block;
    height: $big-spacing;
    right: $small-spacing;
    position: absolute;
    top: $small-spacing;
    width: $big-spacing;
  }

  &__option {
    position: absolute;
    right: .5em;
    top: 0;
  }

  &__link {
    color: inherit;
    text-decoration: none;
    transition: color .25s;
    display: inline-block;

    &--more {
      color: $blue-secondary;
    }

    &--selected {
      color: $blue;
    }

    &--image {
      background-color: $grey-lightest;
      border-radius: $global-border-radius;
      height: 100%;
      line-height: 0;
      min-height: 15rem;
      min-width: $result-image-width;
      overflow: hidden;
      position: relative;
    }

    &--title {
      max-width: calc(100% - 5rem);
    }

    &:hover,
    &:focus,
    &:active {
      color: $blue;
    }
  }

  &__list {
    display: inline-flex;
    flex-wrap: wrap;
    flex: 1 0 calc(75% - #{$default-spacing});

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      flex: 0 1 auto;
      font-size: .9em;
      line-height: 1.25;
      margin: $small-spacing 0;
    }

    &-title {
      flex: 0 1 7.5em;
      min-width: 7.5em;
    }

    &-separator {
      margin: 0 $small-spacing;
    }

    &-element {
      display: inline-flex;
      flex-wrap: nowrap;
      line-height: 1.4em;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .result {
    flex-direction: column;
    margin-bottom: 5rem;

    &:hover,
    &:focus,
    &:focus-within {
      box-shadow: none;
    }

    &__buttons {
      margin-top: 1.5rem;
    }

    &__link {
      &--image {
        max-height: 15rem;
        max-width: 100%;
        min-height: 15rem;
        min-width: unset;
        text-align: center;
        width: 100%;
      }
    }

    &__name {
      margin-top: .5rem;
      text-align: left;
    }

    &__image {
      height: 100%;
      left: auto;
      transform: none;
      width: auto;
    }

    &__rating {
      height: 2rem;
      margin-bottom: 0;
      margin-top: 1rem;
      order: -1;
    }

    &__content {
      padding: 0;
    }
  }
}

@media screen and (min-width:0\0) {
  .result {
    &--student {
      min-height: 15rem;
    }

    &__content {
      display: block;
    }
  }
}

@media #{"\\0 screen"} {
  .result {
    &--student {
      min-height: 15rem;
    }

    &__content {
      display: block;
    }
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .result {
    &--student {
      min-height: 15rem;
    }

    &__content {
      display: block;
    }
  }
}}
