////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 25/03/2019
////


///
/// Tabs
///
.tabs {
  width: 100%;

  &__element {
    border-top: 1px solid $grey-dark;
    width: 100%;

    &--review {
      .review {
        &__informations {
          max-width: calc(100% - 37rem);
        }
      }
    }
  }

  &__content {
    display: none;
    margin-bottom: $huge-spacing;

    &.active {
      display: flex;
    }
  }

  &__title {
    font-size: 1.4em;
    margin-bottom: 0;

    &-link {
      align-items: center;
      color: $blue;
      display: flex;
      min-height: $medium-spacing;
      padding: $default-spacing 0;
      width: 100%;
    }

    .icon {
      display: block;
      height: 100%;
      margin-left: $default-spacing;
      max-width: 2em;

      &-roll {
        margin-left: $small-spacing;
        max-height: $default-spacing;
      }
    }

    &--small {
      font-size: 1.2em;
    }
  }

  &--record {
    .tabs {
      &__content {
        padding-left: $medium-spacing;
      }
    }
  }
}

@media (max-width: $breakpoint-small) {
  .tabs {
    &__title {
      font-size: inherit;

      &-link {
        font-size: .85em;
        font-weight: 600;
        justify-content: center;
      }
    }

    &--record {
      .tabs {
        &__content {
          padding-left: 0;
        }
      }

      .content {
        &__element {
          font-size: .9em;

          &-wrapper {
            margin-bottom: $default-spacing;
          }
        }
      }
    }
  }
}

@media screen and (min-width:0\0) {
  .tabs {
    &__content {
      &.content__direction {
        &--column {
          display: none;
        }
      }

      &.active {
        &.content__direction {
          &--column {
            display: flex;
          }
        }
      }
    }
  }
}

@media #{"\\0 screen"} {
  .tabs {
    &__content {
      &.content__direction {
        &--column {
          display: none;
        }
      }

      &.active {
        &.content__direction {
          &--column {
            display: flex;
          }
        }
      }
    }
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .tabs {
    &__content {
      &.content__direction {
        &--column {
          display: none;
        }
      }

      &.active {
        &.content__direction {
          &--column {
            display: flex;
          }
        }
      }
    }
  }
}}
