////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 19/03/2019
////


///
/// Main-content
///
.main-content {
  flex-grow: 1;
  padding-top: 9rem;
  flex-wrap: wrap;

  &--opened-header {
    padding-top: 19.25rem;
  }

  &--with {
    &-side {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 auto;
      max-width: $global-max-width;
    }

    &-search {
      padding-top: 12.25rem;
    }
  }

  &--header-searchless {
    padding-top: 9rem;

    .main-content {
      &__side {
        height: calc(100vh - 9rem);
        max-height: calc(100vh - 9rem);

        .map {
          &--stuck {
            padding-top: 9rem;
          }
        }
      }
    }
  }

  &--single-column {
    margin-left: auto;
    margin-right: auto;
    max-width: 70vw;
  }

  &__main {
    flex-grow: 2;
    max-width: 75%;
    width: 100%;
  }

  &__residence {
    display: flex;
    flex-direction: column;
  }

  &__side {
    flex-grow: 0;
    height: calc(100vh - 14rem);
    max-height: calc(100vh - 14rem);
    max-width: 25%;
    padding: 0 $small-spacing;
    position: relative;
    width: 100%;

    .map {
      &--stuck {
        padding-top: 14rem;
      }

      &--static {
        &.map--stuck {
          padding-top: 13rem;
        }
        padding-bottom: 1rem;
      }
    }

    &-map {
      height: calc(100vh - 14rem);
      max-height: calc(100vh - 14rem);
      max-width: 20%;
      min-width: 20rem;
      position: fixed !important;
      top: 13rem;
      width: 100%;

      .icon {
        &--favorite {
          height: .75em;
        }
      }
    }
  }

  &__result-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &--account {
    .section {
      padding: $medium-spacing $default-spacing;
    }
  }
}

@media (min-width: $breakpoint-medium) {
  .main-content {
    &__side {
      .map {
        &__legend {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          left: .2rem !important;
          max-width: calc(100% - .8rem);
          top: .2rem !important;
          width: 100%;
        }

        &__item {
          width: 40% !important;

          &-icon {
            margin-left: 0;
          }
        }

        &__marker {
          &-header {
            flex-wrap: nowrap;
            margin-bottom: .5rem;
          }

          &-name {
            font-size: .8em;
          }

          &-footer {
            margin-bottom: 1rem;
            margin-top: 0;

            .button {
              margin-top: .5rem;
            }
          }
        }
      }

      .gm {
        &-style {
          &-mtc {
            bottom: unset !important;
            left: .25rem !important;
            margin: 0 !important;
            top: .5rem !important;
          }

          &-iw {
            &-c {
              max-height: calc(100vh - 30rem) !important;
              max-width: 18rem !important;
              overflow-y: auto !important;
              top: 1rem !important;
              width: 100%;
            }

            &-d {
              max-height: 100% !important;
              max-width: 100% !important;
              position: relative;
            }

            &-t {
              &::before {
                background: $white;
                content: '';
                display: block;
                height: .5rem;
                left: -8rem;
                position: absolute;
                top: .5rem;
                width: 16rem;
                z-index: 12;
              }

              &::after {
                background: transparent !important;
                border-bottom: 0 !important;
                border-left: 1rem solid transparent !important;
                border-right: 1rem solid transparent !important;
                border-top: 1rem solid white !important;
                box-shadow: none !important;
                height: 0 !important;
                left: -1rem !important;
                top: 1rem !important;
                transform: rotate(0deg) !important;
                width: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .main-content {
    &__side {
      height: auto;
      max-height: unset;
      max-width: unset;
      min-height: 25rem;
      width: 100%;

      &-map {
        height: 100%;
        max-width: unset;
        min-height: 25rem;
        min-width: unset;
        position: relative !important;
        top: 0;
      }

      .map {
        &--static,
        &--stuck {
          max-height: unset;
          padding-top: 0 !important;
          width: 100%;
        }
      }
    }

    &__main {
      max-height: unset;
      max-width: calc(100vw - 2em);
      width: 100%;
    }

    &--with-side {
      flex-direction: column;
    }
  }
}

@media (max-width: $breakpoint-small) {
  .main-content {
    padding-top: 6rem;

    &__side {
      min-height: 45rem;

      &-map {
        max-height: unset;
        min-height: 45rem;
      }

      .map__content {
        min-height: 45rem;
      }

      .map {
        &__legend {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          left: .2rem !important;
          max-width: calc(100% - .4rem);
          top: .2rem !important;
          width: 100%;
        }

        &__item {
          width: 40% !important;

          &-icon {
            margin-left: 0;
          }
        }

        &__marker {
          &-header {
            flex-wrap: nowrap;
            margin-bottom: .5rem;
          }

          &-name {
            font-size: .8em;
            text-align: left;
          }

          &-footer {
            margin-bottom: 1rem;
            margin-top: 0;

            .button {
              margin-top: .5rem;
            }
          }
        }
      }

      .gm {
        &-style {
          &-mtc {
            bottom: unset !important;
            left: .25rem !important;
            margin: 0 !important;
            top: 1rem !important;
          }

          &-iw {
            &-c {
              max-height: 20rem !important;
              max-width: 80vw !important;
              overflow-y: auto !important;
              top: 1rem !important;
              width: 100%;
            }

            &-d {
              max-height: 100% !important;
              max-width: 100% !important;
              position: relative;
            }

            &-t {
              &::before {
                background: $white;
                content: '';
                display: block;
                height: .5rem;
                left: -8rem;
                position: absolute;
                top: .5rem;
                width: 16rem;
                z-index: 12;
              }

              &::after {
                background: transparent !important;
                border-bottom: 0 !important;
                border-left: 1rem solid transparent !important;
                border-right: 1rem solid transparent !important;
                border-top: 1rem solid white !important;
                box-shadow: none !important;
                height: 0 !important;
                left: -1rem !important;
                top: 1rem !important;
                transform: rotate(0deg) !important;
                width: 0 !important;
              }
            }
          }
        }
      }
    }

    &--opened-header {
      padding-top: 6rem;
    }

    &--header-searchless {
      padding-top: 7rem;
    }

    &--single-column {
      max-width: 90vw;
    }

    &--with {
      &-search {
        padding-top: 7.25rem;
      }
    }

    &__result-wrapper {
      padding-left: 0;
      padding-right: 0;
    }

    &__account-header {
      .title {
        font-size: 1em;
      }
    }
  }
}

@media screen and (min-width:0\0) {
  .main-content {
    &__residence {
      display: block;
    }
  }
}

@media #{"\\0 screen"} {
  .main-content {
    &__residence {
      display: block;
    }
  }
}

@media not all and (min-resolution:.001dpcm)
{ @supports (-webkit-appearance:none) {
  .main-content {
    &__residence {
      display: block;
    }
  }
}}
