////
/// @author Drakona <contact@drakona.fr>
/// @group front/components
///
/// @since 13/02/2019
////


///
/// Main
///
.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
  overflow-x: hidden;
}
