////
/// @author Drakona <contact@drakona.fr>
/// @group front/abstracts
///
/// @since 10/04/2019
////

///
/// Used to apply a background color to a block
///
.colored {
  &-background {
    @each $name, $color in $container-colors {
      &--#{$name} {
        background-color: $color;
      }
    }
  }

  &-border {
    @each $name, $color in $container-colors {
      &--#{$name} {
        border-color: $color !important;
      }
    }
  }
}
