.home {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-around;

  &__intro {
    padding: $default-spacing;
    text-align: center;
  }

  &__section {
    margin-left: auto;
    margin-right: auto;
    max-width: $global-max-width;
    width: 100%;
  }

  .title {
    margin-bottom: $small-spacing;

    &--big {
      justify-content: center;
    }
  }

  .arrow-list {
    &__element {
      padding-bottom: $default-spacing;
    }
  }

  &--confirm {
    border-left: 1px solid $white;
    margin: 1rem 0;
  }

  &__content {
    padding: $default-spacing;
  }

  &__guarantee {
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: center;
    padding: $small-spacing;
    width: 8rem;
    text-align: center;

    &--price {
      font-size: 2.5em;
    }
  }

  &__sub-services {
    line-height: 1.25;
    list-style: disc;
    margin-bottom: $small-spacing;
    padding-left: $big-spacing;
  }

  &__services {
    line-height: 1.4;
    list-style: square;
    padding-left: $default-spacing;
  }

  &__warning {
    font-size: .75em;
    margin-top: $default-spacing;
  }

  &__aside {
    color: $white;

    &-title {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    &-content {
      background: $color-background-secondary;
      color: $color-text-on-secondary;
      margin-bottom: 1rem;
      padding: 2rem;
    }

    &--page {
      align-items: center;
      padding: .5rem;
      justify-content: center;
      flex-grow: 1;
      max-width: 20rem;
    }
  }

  &__counter {
    margin: .5rem 0;
  }

  &__cgu,
  &__what {
    background-color: $color-background-secondary;
    color: $color-text-on-secondary;
    padding: 1rem;

    &-link {
      color: $color-secondary;
      transition: color .3s;

      &:hover,
      &:focus,
      &:active {
        color: $color-text-on-secondary;
      }
    }
    &--bold {
      font-weight: bold;
    }
  }

  &__what {
    line-height: 1.2;
  }

  &__promo {
    border-radius: $global-border-radius;
    border: 1px solid;
    padding: $default-spacing;
    position: relative;

    &-wrapper {
      width: 100%;
    }

    &-form {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    &-submit {
      font-size: .75rem;
      height: 3rem;
      margin-left: $small-spacing;
      padding: 0 .5rem;
    }

    &-field {
      background: $white;
      border-radius: $global-border-radius;
      border: 0;
      display: inline-block;
      height: 2.5em;
      margin: 0 $small-spacing;
      max-width: 6rem;
      padding: .25rem .5rem;
      transition: background-color .25s;

      &:focus {
        background-color: darken($grey-lightest, 5%);
      }
    }
  }

  &__payment {
    &-subtitle {
      margin-right: $small-spacing;
    }
  }

  &__total {
    align-items: center;
    border-radius: $global-border-radius;
    display: flex;
    font-size: 1.5em;
    // height: 100%;
    justify-content: space-between;
    margin-left: $big-spacing;
    min-width: 7em;
    padding: 0 $default-spacing;

    &-value {
      border: 0;
      display: inline-block;
      height: 2em;
      line-height: 2em;
      margin-left: .25rem;
    }

    &-label {
      font-size: .75em;
    }
  }

  &__price {
    background-color: $color-background-secondary;
    color: $color-text-on-secondary;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 2.5em;
    height: 100%;
    justify-content: center;

    &-wrapper {
      max-width: 15rem;
      padding: 1rem;;
      width: 15rem;
      height: 100%;
    }

    &--bold {
      font-weight: bold;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    justify-content: center;
    align-items: center;
  }

  &__link {
    font-size: 1em;
    min-width: 15rem;

    &--back {
      color: $white;
      padding: .5rem 1rem;
    }
  }

  .small {
    font-size: .75em;
  }

  .x-small {
    font-size: .55em;
  }

  .intl-tel-input {
    .country-name {
      color: $grey-dark;
    }
  }
}

@media screen and (max-width: $breakpoint-large) {
  .home {
    &__content {
      &-wrapper {
        flex-direction: column;
      }
    }

    &__price {
      display: block;
      padding: .5rem;
      max-width: 100%;
      width: 100%;
    }

    &__promo,
    &__total,
    &__payment {
      margin: $big-spacing 0 0 0;
      width: 100%;
    }

    &__total {
      justify-content: center;

      &-label {
        margin-right: $small-spacing;
      }
    }

    &__link {
      padding: 1rem;

      &--back {
        padding: .5rem;
      }
    }

    &__cta {
      align-items: center;
      flex-direction: column;
      height: 100%;
      max-height: 100%;
    }

    &__aside {
      max-width: 100%;

      &--page {
        max-width: 100%;
      }
    }

    &__payment {
      &-subtitle {
        display: block;
        margin-top: $default-spacing;
        order: 1;
        text-align: center;
        width: 100%;
      }
    }

    &--confirm {
      border: 0;
    }
  }
}

@media screen and (max-width: $breakpoint-medium) {
  .home {
    &__intro {
      padding: $default-spacing $small-spacing;
    }

    &__header {
      padding: $small-spacing;
    }

    &__guarantee {
      margin: .25rem 0;
    }
  }
}

@media screen and (max-width: $breakpoint-small) {
  .home {
    &__registration {
      border-top: 1px solid;

      .separator--border-left {
        border-left: 0;
      }
    }
  }
}
